# 데이터베이스, 비밀 키 등 환경 변수 템플릿 파일입니다.
# 실제 운영 환경에서는 이 파일을 '.env'로 복사한 후 실제 값을 기입해야 합니다.

DJANGO_SECRET_KEY=django-insecure-ge3y##42m50lz_h+x(4=@&o(p4v*4=c4-1ub2)j^m_3y&kvlwe
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
